@model CeeLearnAndDo.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticlePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticlePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleVideo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleVideo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleText)
        </dd>
        
        <dt>

            @Html.DisplayNameFor(model => model.ArticleAccepted)
        </dt>
        <dd>
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.ArticleDescription)
            @Html.HiddenFor(model => model.ArticleName)
            @Html.HiddenFor(model => model.ArticlePhoto)
            @Html.HiddenFor(model => model.ArticleText)
            @Html.HiddenFor(model => model.ArticleVideo)
            @Html.CheckBoxFor(model => model.ArticleAccepted, new { @class = "form-control checkbutton" });
        <input type="submit" value="Bevestigen" class="btn btn-default" />
}
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
