@model CeeLearnAndDo.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt class="b">
            Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticlePhoto)
        </dd>

        <dt class="b">
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleName)
        </dd>

        <dt class="b">
            Omschrijving
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>

        <dt class="b">
            Tekst
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ArticleText, new { @class = "editor form-control" })*@
            @Html.TextAreaFor(model => model.ArticleText, new { @class = "View form-control" })
            @Html.ValidationMessageFor(model => model.ArticleText, "", new { @class = "text-danger" })
        </dd>
        @if (User.IsInRole("Admin"))
    {
        <dt class="b">
            Geaccepteerd
        </dt>
        <dd>
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.ArticleDescription)
            @Html.HiddenFor(model => model.ArticleName)
            @Html.HiddenFor(model => model.ArticlePhoto)
            @Html.HiddenFor(model => model.ArticleText)
            @Html.HiddenFor(model => model.ArticleVideo)
            @Html.CheckBoxFor(model => model.ArticleAccepted, new { @class = "form-control checkbutton" });
        <input type="submit" value="Bevestigen" class="btn btn-default" />
}
        </dd>
}
    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar het overzicht", "Index")
</p>
