@model IEnumerable<CeeLearnAndDo.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Artikelen</h2>

<p>
    @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Maak een artikel aan", "Create")
    }
        @using (Html.BeginForm())
        {
<p>
        Artikelnaam: @Html.TextBox("SearchString")
        <input type="submit" value="Zoeken" />
    </p>
}
    <table class="table">
        <tr>
            <th>
                <p class="b">Artikelfoto</p>
            </th>
            <th>
                <p class="b">Titel</p>
            </th>
            <th>
                <p class="b">Omschrijving</p>
            </th>
            <th>
                <p>Datum</p>
            </th>



            @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
    {
            <th>
                <p class="b">Geaccepteerd</p>
            </th>
}
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleDate)
            </td>

            @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.ArticleAccepted)
        </td>
}

            <td>
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (User.IsInRole("Admin"))
        {

            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
}
            </td>

        </tr>
        }

    </table>
