@model IEnumerable<CeeLearnAndDo.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Artikelen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Artikelnaam: @Html.TextBox("SearchString")
        <input type="submit" value="Zoeken" />
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticlePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleAccepted)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticlePhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleAccepted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
