@model CeeLearnAndDo.Models.Reference

@{
    ViewBag.Title = "Create";
}

<h2>Aanmaken</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Referentie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-2 b">Titel</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReferenceTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2 b">Info</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceInfo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReferenceInfo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2 b">Referentiefoto</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReferenceImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aanmaken" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar het overzicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
