@model IEnumerable<CeeLearnAndDo.Models.Reference>

@{
    ViewBag.Title = "Index";
}

<h2>Referenties</h2>

<p>
    @if (User.IsInRole("Consultant") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Maak een referentie aan", "Create")
    }
    </p>


@foreach (var item in Model)
{
<p>
    @Html.DisplayFor(modelItem => item.ReferenceTitle)
</p>
<p>
    @Html.DisplayFor(modelItem => item.ReferenceInfo)
</p>
<p>
    @Html.DisplayFor(modelItem => item.ReferenceImage)
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
</p>
}