@model CeeLearnAndDo.Models.ContactAdmin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactAdmin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="b">
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="b">
            Naam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="b">
            Titel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="b">
            Omschrijving
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="b">
            Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar het overzicht", "Index")
</p>
