@model IEnumerable<CeeLearnAndDo.Models.ContactAdmin>

@{
    ViewBag.Title = "Index";
}

<h2>Beantwoorden</h2>

<table class="table">
    <tr>
        <th>
            <p class="b">E-mail</p>
        </th>
        <th>
            <p class="b">Naam</p>
        </th>
        <th>
            <p class="b">Titel</p>
        </th>
        <th>
            <p class="b">Omschrijving</p>
        </th>
        <th>
            <p class="b">Type</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Beantwoorden", "Answer", new { id = item.Id }) |
            @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
